body{
    background-color: rgb(34, 0, 128);
}

h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.masterdiv{
    display: flex;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    margin-top: 20%;
}

.div_1, .div_2, .div_3{
    height: 200px;
    width: 200px;
}

.div_1, .div_3{
    display: flex;
    flex-direction: column;
}
.div_2{
    display: flex;
    flex-direction: row;
} 

.div_1 div{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(230, 230, 62);
    margin-left: 50%;
    margin-top: 10px;
}
.div_2 div{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(221, 221, 60);
    margin-left: 10px;
    margin-top: 70px;
}
.div_3 div{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(231, 231, 63);
    margin-left: 40px;
    margin-top: 10px;
}

