<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('./header'); %>
    </header>
    <section>
        <h1>Home</h1>
    </section>
    <footer>

    </footer>
</body>
</html>