body{
    background : linear-gradient(rgb(79, 79, 185), rgb(130, 53, 133));
    color: white;
    font-family: 'Raleway', sans-serif;
}
h1{
    float: left;
    padding-top: 20px;
}
.adding{
    margin-left: 37%;
    margin-top: 50px;
    position: absolute;
}
.adding #field, #field2, #field3, #field4{
    font-size: 20px;
    background-color: transparent;
    border: .5px solid rgba(255, 255, 255, 0.294);
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#field3, #field4{
    margin-left: 65px;
}
#field, #field2, #field3, #field4:focus{
    outline: none;
}
.adding #add{
    position: relative;
    left: 110px;
    bottom: 2.3px;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 11.9px;
    font-family: 'Raleway', sans-serif;
}

#add:hover{
    border: .5px solid white;
}
.tasks{
    height: 350px;
    width: 700px;
    margin-top: 90px;
    background-color: rgba(255, 255, 255, 0.253);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    opacity: 100%;
    overflow-y: scroll;
    -moz-box-shadow: 0 0 3px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 3px rgb(0, 0, 0);
    box-shadow: 0 0 3px rgb(112, 112, 112);
}
.tasks li{
    color: rgb(0, 0, 0);
    background-color: rgba(224, 215, 215, 0.774);
    opacity: 100%;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 8px;
    padding-top: 20px;
    border: none;
    border-radius: 10px;
    list-style: none;
    width: 500px;
    font-family: 'Raleway', sans-serif;
    -moz-box-shadow: 0 0 3px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 3px rgb(0, 0, 0);
    box-shadow: 0 0 3px rgb(112, 112, 112);
}
#clr{
    margin-left: 46.5%;
    margin-top: 12px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(167, 65, 65);
}    

#del, #check{
    float: right;
    margin-bottom: 10px;
    position: relative;
    bottom: 10px;
}
#check{
    font-size: 20px;
    margin-top: 9px;
    margin-right: 10px;
    
}
.checked{
    background-color: tomato;
}
#del{
    background-color: rgb(155, 45, 45);
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-right: 10px;
}

#field, #field2, #field3, #field4{
    animation: transform;
    transition: .4s ease-out;

}

#field:focus{
    outline-width: 0;
    transform: scale(1.1);
    border: 1px solid white;
    
}
#field2:focus{
    outline-width: 0;
    transform: scale(1.1);
    border: 1px solid white;
}

li{
    width: 275px;
    vertical-align: middle;
    display: inline-block;
}

#titl{
    color: rgb(219, 89, 89);
    font-size: 10px;
}

.more{
    display: none;
}

.show-more{
    display: inline;
}

.rdmore{
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
    font-size: 9px;
}
.rdmore:hover{
    cursor: pointer;
}